@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 255, 255, 255;
}

[data-theme="dark"] {
  --foreground-rgb: 228, 230, 235;
  --background-rgb: 18, 24, 35;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
}

.light-mode {
  @apply bg-white text-gray-900;
}

.dark-mode {
  @apply bg-gannetDarkBg text-gannetTextLight;
}

.card-light {
  @apply bg-white shadow-md;
}

.card-dark {
  @apply bg-gannetCardBg shadow-md;
}

/* Custom styles */
@layer components {
  .btn-primary {
    @apply bg-primary-600 text-white px-6 py-3 text-base font-medium shadow-sm hover:bg-primary-700 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-primary-600;
  }

  .btn-secondary {
    @apply bg-white text-primary-600 px-6 py-3 text-base font-medium shadow-sm border border-primary-600 hover:bg-gray-50 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-primary-600;
  }

  .heading-gradient {
    @apply bg-gradient-to-r from-primary-600 to-secondary-500 bg-clip-text text-transparent;
  }
}
